# Виртуальные окружения
.venv/
venv/

# Кэши инструментов
__pycache__/
*.pyc
.pytest_cache/
.ruff_cache/

# Сборка/дистрибуция пакета
build/
dist/
*.egg-info/

# Логи утилиты
flowmaputility.log*

# Jupyter
.ipynb_checkpoints/
.ipynb

# Разное
*.bat
*.exe
*.fish
*.ps1
*.cfg

# Quarto render files
/.quarto/
*_files/
summary.html
